@inherits LayoutComponentBase

<div class="app-container">

    <div class="app-header">
        <img src="logo-insta.jpg" class="logo" />
    </div>

    <div class="app-body">
        @Body
    </div>

</div>