@inherits LayoutComponentBase

<div class="app-container">

    <div class="app-header">
        <img src="logo-insta.jpg" class="logo" />

        <div class="page-title">
            <div class="main-title">Jesús Nazareno - Sonsonate</div>
            <div class="subtitle">Recorridos Procesionales 2026-2030</div>
        </div>
    </div>

    <div class="app-body">
        @Body
    </div>

</div>