@inherits LayoutComponentBase

<div class="app-container">

    <!-- HEADER -->
    <div class="app-header">

        <img src="logo-insta.jpg" class="logo" />

        <div class="titulo-container">
            <div class="titulo">Jesús Nazareno</div>
            <div class="subtitulo">Sonsonate</div>
        </div>

    </div>

    <!-- CONTENIDO -->
    <div class="app-body">
        @Body
    </div>

</div>