@page "/"
@inject NavigationManager Navigation

<h3>Hermandad de Jesús de Nazareno</h3>
<p>Cargando aplicación...</p>

@code {
    protected override void OnInitialized()
    {
        Navigation.NavigateTo("/recorridos");
    }
}